<section id="page_title">
  <h1><%= @recipe.name %></h1>
  <p>Complexity: <%= @recipe.complexity %></p>
  <p>Genre: <%= @recipe.genre %></p>
</section>
<br/>

<section id="ingredients">
  <h2>Ingredients:</h2>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
        <li><strong><%= ingredient.name %></strong>
    <% end %>
  </ul>
</section>
<br/>

<h3 id="total_cost">Total Cost: $<%= @recipe.total_cost %></h3>
<br/>

<section id="add_ingredient">
  <%= form_with(url: recipe_ingredients_path) do |form| %>
    <%= form.label :ingredient_id, "Add an Ingredient to this Recipe by Ingredient ID" %>
    <%= form.number_field :ingredient_id, id: "ingredient_id" %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.submit "Submit" %>
  <% end %>
</section>
